# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# Ignore log files and environment files
logs
*.log
.env

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore all screenshots
/public/screenshot_*.png
/public/*.jpg
/public/*.jpeg
/public/*.gif

# Keep specific necessary images
!public/bot.png
!public/user.png

# IDE
.vscode/