@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: var(--foreground-rgb);
  background: white;
  height: 100%;
}

.space-wrap {
  white-space: pre-wrap; /* CSS property to preserve whitespace */
  font-family: monospace; /* Ensures consistent spacing */
  padding: 10px; /* Optional: padding around text */
  border-radius: 4px; /* Optional: rounded corners for the chat bubble */
}

html,
body,
#__next,
.flex-grow {
  height: 100%;
}

/* For AI message content */
pre {
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word; /* Break long words */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
  border-radius: 4px;
}

pre code {
  display: block;
  padding: 1em;
  background-color: #19181a;
  color: rgb(226, 226, 249);
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
}

.ai-answer code.inline-code {
  font-size: inherit;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0f0f0;
  color: #333;
  padding: 2px 4px;
  border-radius: 4px;
}

.space-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.user-question,
.ai-answer {
  padding: 0.5rem 0;
}

.styledContent {
  width: 100%;
  max-width: calc(100% - 4rem);
  line-height: 1.6;
  color: #565353;
}

.styledContent pre {
  padding: 0.5em;
  border-radius: 4px;
  overflow-x: auto;
  margin-bottom: 1em;
}

.styledContent p {
  margin-bottom: 1em;
}

.styledContent ul,
.styledContent ol {
  margin-bottom: 1em;
  padding-left: 0.5em;
}

.styledContent li {
  margin-bottom: 0.5em;
}

.styledContent code {
  font-family: 'Courier New', Courier, monospace;
  padding: 0.2em 0.6em;
  border-radius: 3px;
}

.styledContent h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.styledContent br {
  content: '';
  display: block;
  margin-bottom: 0.5em;
}

/* for MenuItem.tsx */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #686969b3 #e7e8eab3; /* For Firefox: thumb color, track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e7e8eab3; /* color of the tracking area */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6a6c6db3; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 2px solid #e7e8eab3; /* creates padding around scroll thumb */
  min-height: 20px; /* Minimum height of the thumb */
}

/* To make the handle change color on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555657b3;
}

/* Ensure the scrollbar is always visible */
.custom-scrollbar {
  overflow-y: scroll;
}
