@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: var(--foreground-rgb);
  background: white;
  height: 100%;
}

.space-wrap {
  white-space: pre-wrap; /* CSS property to preserve whitespace */
  font-family: monospace; /* Ensures consistent spacing */
  padding: 10px; /* Optional: padding around text */
  border-radius: 4px; /* Optional: rounded corners for the chat bubble */
}

html,
body,
#__next,
.flex-grow {
  height: 100%;
}

pre {
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word; /* Break long words */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}

pre code {
  display: block;
  padding: 1em;
  background-color: #19181a;
  color: rgb(226, 226, 249);
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
}
