@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: var(--foreground-rgb);
  background: white;
  height: 100%;
}

.space-wrap {
  white-space: pre-wrap; /* CSS property to preserve whitespace */
  font-family: monospace; /* Ensures consistent spacing */
  padding: 10px; /* Optional: padding around text */
  border-radius: 4px; /* Optional: rounded corners for the chat bubble */
}

html,
body,
#__next,
.flex-grow {
  height: 100%;
}

pre {
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word; /* Break long words */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}

pre code {
  display: block;
  padding: 1em;
  background-color: #19181a;
  color: rgb(226, 226, 249);
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
}

/* for MenuItem.tsx */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #686969b3 #e7e8eab3; /* For Firefox: thumb color, track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e7e8eab3; /* color of the tracking area */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6a6c6db3; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 2px solid #e7e8eab3; /* creates padding around scroll thumb */
  min-height: 20px; /* Minimum height of the thumb */
}

/* To make the handle change color on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555657b3;
}

/* Ensure the scrollbar is always visible */
.custom-scrollbar {
  overflow-y: scroll;
}
